<!-- add quiz title -->
<div class="container">
  <div class="col-md-6 mx-auto my-5 shadow-lg p-5 rounded">
    <h3 class="fw-bold mb-4 text-center">Add Quiz Title</h3>
    <form #addQuizTitle="ngForm" (ngSubmit)="handleAddQuiztitle(addQuizTitle)">
      <div class="w-75">
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            ngModel
            required
            name="title"
            id="name"
          />
        </div>
        <button type="submit" class="btn btn-primary me-3">Add</button>
      </div>
    </form>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col-md-3" *ngFor="let a of title">
    <div class="shadow rounded p-3 me-2 my-2">
      <a [routerLink]="['addquestion',a._id]" class="list-group-item">
        <p class="fw-bold">{{ a.title }}</p>
      </a>
    </div>
    </div>
  </div>
</div>
