
<div class="container">
  <div class="col-md-6 mx-auto my-5 shadow-lg p-5 rounded">
    <h3 class="fw-bold mb-4 text-center">Add New Question</h3>
      <div class="w-75">
        <div class="mb-3">
          <label class="form-label">Question</label>
          <input [(ngModel)]="question" type="text" class="form-control" ngModel required name="question" id="question" />
        </div>
        <button class="btn btn-primary my-3" (click)="addOption()">
          Add Option
        </button>
        <div class="mb-3" *ngFor="let op of _optionList">
          <label class="form-label">Option {{op.id}}</label>
          <input type="text" class="form-control" [(ngModel)]="op.name" required name='{{op.name}}' id="option"  />
        </div>

        <div class="mb-3">
          <label class="form-label">Correct Answer</label>
          <input [(ngModel)]="correctAnswer" type="text" class="form-control" ngModel required name="correctAnswer" id="correctAnswer" />
        </div>

        <button (click)="handleAddQuiz()" class="btn btn-primary me-3">Submit</button>
      </div>
  </div>
</div>

<!-- all quiz -->
<div class="container my-5">
  <h3 class="text-center">Question Title</h3>
<div class="row">
  <div class="col-md-12" *ngFor="let item of questions">


  <a class="col-md-12 border rounded p-4 my-3 clearfix list-group-item " style="cursor: pointer;">
    <p><strong>{{item.question}}</strong></p>
    <div class="container">
      <div class="row">
          <ol>
            <li class="my-3" *ngFor="let op of item.options">{{op}}</li>
          </ol>
      </div>
    </div>
  </a>
</div>
</div>
</div>
